// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.custom-navbar{
  background-color: #141414;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: #fff387;
}

.custom-navbar .nav-link:hover {
  color: #d4c85c;
}

.custom-navbar .dropdown-menu {
  background-color: #141414;
}

.custom-navbar .dropdown-item {
  color: #fff387;
}

.custom-navbar .dropdown-item:hover {
  background-color: #d4c85c;
  color: #141414;
}

.custom-navbar .navbar-toggler {
  border: none;   /* eller none */
  background-color: transparent;
  box-shadow: none;
}

.custom-navbar .navbar-toggler:focus,
.custom-navbar .navbar-toggler:active,
.custom-navbar .navbar-toggler:focus-visible {
  outline: none;
  box-shadow: none;
}


.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,243,135,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
  font-weight: 600;
}

.custom-navbar .navbar-nav {
  gap: 5rem; /* justér frit */
}

.custom-navbar {
  height: 80px; /* Juster højden */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  line-height: 80px; /* Vertikal centering */
  font-size: 1.2rem; /* Eventuelt større tekst */
}

.connected-starters {
  color: #fff387;
  font-size: 8vw; /* responsiv størrelse */
  padding-left: 1.5rem;  /* svarer til ms-4 */
  padding-right: 1.5rem; /* svarer til me-4 */
  padding-bottom: 4rem; /* <-- tilføjet mere sort mellemrum under */
  box-sizing: border-box; /* sikrer, at padding ikke overskrider skærmbredden */
  background-color: #141414;
}

.connected-starters span {
  display: inline-block;
}

@media (max-width: 768px) {
  .connected-starters span {
    display: block; /* hvert ord på egen linje */
    font-size: 15vw; /* lidt større på mobil */
  }
}

/* Fjern line-height for links i kollapset navbar på mobil */
@media (max-width: 767px) {
  .navbar-collapse .nav-link {
    line-height: 55px !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  .navbar-collapse .dropdown-item {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  /* Fjern gap mellem nav-items i vertikal menu */
  .navbar-collapse .navbar-nav {
    gap: 0 !important;
  }
}

/* Baggrund på burgermenu (mobil) */
@media (max-width: 767px) {
  .custom-navbar .navbar-collapse {
    background-color: #141414; /* samme sort som navbar */
  }
}

.forsidetekst1{
  padding-left: 10%;
  font-size: 40px;
  font-weight: lighter;
}

@media (max-width: 767px) {
  .forsidetekst1{
    padding-left: 10%;
    font-size: 25px;
  }
  }

.forsidetekst2{
  padding-left: 10%;
  font-size: 20px;
  font-weight: normal;
}

@media (max-width: 767px) {
  .forsidetekst2{
    padding-left: 10%;
    font-size: 16px;
  }
}

/* Desktop */
@media (min-width: 767px) {
  .custom-carousel {
    max-width: 80%; /* justér frit */
    margin: 0 auto;   /* centrerer carousel */
  }
}

/* Mobil */
@media (max-width: 767px) {
  .custom-carousel {
    max-width: 85%; /* justér frit */
    margin: 0 auto;   /* centrerer carousel */
  }
}

.custom-carousel .carousel-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.50); /* justér mørkhed */
  z-index: 1;
}

.custom-carousel .carousel-caption {
  z-index: 2;
}

/* Mobil */
@media (max-width: 767px) {
  .custom-carousel .carousel-caption {
    font-size: 0.9rem;
    bottom: 1rem;
  }

  .custom-carousel .carousel-caption h5 {
    font-size: 1.1rem;
  }
}

.custom-carousel .carousel-link {
  color: white;          /* samme farve som din caption */
  text-decoration: none;  /* fjern understregning */
}

.custom-carousel .carousel-link:hover {
  color: #d4c85c;          /* hover-farve */
  text-decoration: underline; /* valgfrit */
}

.custom-carousel .carousel-link {
  display: inline-block;
  padding: 0.25rem 0.5rem;
}

.connected-starters2 {
  color: #fff387;
  font-size: 8vw; /* responsiv størrelse */
  padding-left: 1.5rem;  /* svarer til ms-4 */
  padding-right: 1.5rem; /* svarer til me-4 */
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  box-sizing: border-box; /* sikrer, at padding ikke overskrider skærmbredden */
  background-color: #141414;
  text-align: center;
  margin-top: 150px;
}

.connected-starters2 span {
  display: inline-block;
}

@media (max-width: 768px) {
  .connected-starters2 span {
    display: block; /* hvert ord på egen linje */
    font-size: 15vw; /* lidt større på mobil */
  }
}

.lokabokse{
  background-color: #f5f5f5; /* lidt mørkere end hvid */
  padding: 4rem 2rem;
  border-radius: 20px;
  max-width: 85%;
  margin: 150px auto; /* centreret + luft */
}

@media (min-width: 768px) {
  .lokaboks1 {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 0 2rem;
  }
}

.lokabokse a{
  text-decoration: underline;
}

/* Desktop */
@media (min-width: 767px) {
  .lokabokse{
    display: flex;
    justify-content: space-around;
  }
}

/* Mobil */
@media (max-width: 767px) {
  .lokabokse{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 100px;
  }
}

@media (max-width: 767px) {
  .lokabokse h1{
    font-size: 300%;
  }
}

@media (max-width: 767px) {
  .lokabokse p{
    font-size: 150%;
  }
}

.lokaboks2{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5; /* lidt mørkere end hvid */
  padding: 4rem 2rem;
  border-radius: 20px;
  max-width: 85%;
  margin: 100px auto; /* centreret + luft */
}

.lokaboks2 p{
  font-size: 150%;
}

@media (max-width: 767px) {
  .lokaboks2 p{
    font-size: 150%;
  }
}

@media (max-width: 767px) {
  .lokaboks2 h1{
    font-size: 175%;
  }
}

.footer {
  background-color: #141414; /* mørk rødbrun som på billedet */
  padding-top: 200px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 150px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer h3 {
  color: #fff387;
  font-size: 2vw;
  margin-bottom: 20px;
}

.footer p,
.footer a {
  color: #fff387;
  font-size: 1.5vw;
  line-height: 1.6;
  text-decoration: none;
  display: block;
}

.footer a:hover {
  color: #d4c85c;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .footer {
    background-color: #141414; /* mørk rødbrun som på billedet */
    padding-top: 100px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 100px;
  }
}

.forsidetekst12{
  max-width: 90%;
  font-size: 25px;
  font-weight: bold;
  padding-left: 10%;
  margin-top: 75px;
}

.forsidetekst22{
  padding-left: 10%;
  max-width: 90%;
  font-size: 20px;
  font-weight: normal;
}

@media (max-width: 767px) {
  .forsidetekst22{
    padding-left: 10%;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .forsidetekst12{
    padding-left: 10%;
    font-size: 20px;
  }
}

.custom-navbar .nav-link.active {
  color: #b3a645;
}